@import 'normalize.css';

@import './themeVars.module.scss';

:root {
    --text-color: #161823;
    --bg-color: #fafafa;
    --font-family: 'Roboto', sans-serif;
    
    --drawer-nav-width: 232px;
    --scroll-width: 8px;
    --header-height: 64px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    font-family: var(--font-family);
    font-size: .875rem;
    line-height: 1.5;
    text-rendering: optimizespeed;
    color: var(--text-color);
    overflow-y: overlay;
    background-color: var(--bg-color);
}
